/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 30px;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

nav a {
    color: #00f5d4;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ff00c8;
}

/* EFECTO GLASS */
.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.2);
}

/* MAIN */
main {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    padding: 30px;
}

main img {
    width: 100%;
    max-width: 400px;
    margin-top: 15px;
    border-radius: 10px;
}

/* COLUMNAS */
.contenedor-columnas {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: nowrap; /* esto evita que bajen */
}

/* TARJETAS */
.card {
    width: 200px; /* más chicas para que entren */
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #ccc;
}